In [3]:
import pandas as pd

In [4]:
df=pd.read_csv("../datasets/boston.csv")

In [5]:
df.head()

,Unnamed: 0,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price
0,0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [6]:
!git add .

warning: in the working copy of 'Unsupervised Algorithms/.ipynb_checkpoints/extra-checkpoint.ipynb', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'Unsupervised Algorithms/extra.ipynb', LF will be replaced by CRLF the next time Git touches it

In [7]:
!git commit -m "extra added"

[main 5ba65fb] extra added
 2 files changed, 49 insertions(+)
 create mode 100644 Unsupervised Algorithms/.ipynb_checkpoints/extra-checkpoint.ipynb
 create mode 100644 Unsupervised Algorithms/extra.ipynb

In [8]:
!git push

fatal: unable to access 'https://github.com/hamzarkhan/ML/': Could not resolve host: github.com

In [ ]:
!git remote